{% extends 'base.html' %}
{% block title %}Text Summariser{% endblock title %}
{% block body %}
<div class="jumbotron mt-4" >
<div class="container">
<h1 class="display-3">TEXT SUMMARISER</h1>
<p>
     <ul>
         <li><h3>Saves time</h3></li>
         <li><h3>Helps in better understanding</h3></li>
     </ul>
     </p>
     <p>
Text Summariser makes the tedious task of reading lengthy texts easier.<br/>
         Just type your text or paste it and you are good to go.
     </p>
</div>
</div>

 
{% endblock body %}