{% extends 'base.html' %}
{% block title %}Text Summariser{% endblock title %}
{% block addscript %} <script src='https://kit.fontawesome.com/a076d05399.js'></script>{% endblock addscript %}
{% block body %}
<div>
{% if user.is_authenticated %}
<div class="modal-body row">
    <div class="col-md-6">
        <h1 style="text-align:center;"><span class="badge badge-danger">TextRank</span></h1>
        <textarea rows="10" cols="100" name="otext" class="form-control">{{ rankSummary }}</textarea>

    </div>
    <div class="col-md-6">
        <h1 style="text-align:center;"><span class="badge badge-danger">TF-IDF</span></h1>
        <textarea rows="10" cols="200" name="stext" class="form-control">{{ TFIDFSummary }}</textarea><br>
    </div>
    </center>

</div>
</div>

<div class="row justify-content-md-center">
    <a  href="/humansum"><button type="button" class="btn btn-success btn-lg"><font style='font-size:36px;'>Efficiency meter </font><i class='fab fa-algolia' style='font-size:36px;color:white'></i></button></a>
    
    




</div>
{% else %}
<center><h1>Please Login First!</h1></center>
    {% endif %}
</div>


{% endblock body %}